<h1 class="h1">Прогноз</h1>

<div class="jumbotron clearfix">
    <div uib-alert
         dismiss-on-timeout="5000"
         ng-repeat="alert in $ctrl.alerts"
         ng-class="'alert-' + (alert.type || 'warning')"
         close="$ctrl.closeAlert($index)">
        {{alert.msg}}
    </div>
    <form novalidate ng-submit="$ctrl.submit($ctrl.details)">
        <input class="form-control"
               type="text"
               ng-autocomplete
               ng-model="$ctrl.searchText"
               options="$ctrl.autocompleteOptions"
               details="$ctrl.details">
        <div class="button-wrapper">
            <button class="btn btn-success pull-right" type="submit" ng-disabled="!$ctrl.details" title="Введите запрос"> Искать!</button>
            <button class="btn btn-default" type="button" ng-click="$ctrl.geolocateAndSearch()">По моему местоположению</button>
        </div>
    </form>
    <div ng-if="$ctrl.forecasts" ng-repeat="forecast in $ctrl.forecasts" class="col-md-3 col-sm-4 col-xs-12">
        <div class="weather-block bg-info">
            <h4 class="h4">Дата: {{forecast.dateTime | date: 'dd.MM HH:00'}}</h4>
            <img ng-src="{{forecast.iconUrl}}"/>{{forecast.description | capitalize}}<br/>
            Ветер {{forecast.windDirection}}, {{forecast.windSpeed}} м/с<br/>
            Температура - {{forecast.temp}} C<sup>o</sup><br/>
            Давление - {{forecast.pressure}} мм.рт.ст.<br>
            Влажность - {{forecast.humidity}} %
        </div>

    </div>
</div>

<style>
    .weather-block{
        margin: 10px;
        padding: 10px;
        margin-top: 10px;
        border-radius: 10px;
    }

    .button-wrapper{
        margin-top: 5px;
    }

    @media(max-width: 480px){
        .button-wrapper button{
            width: 100%;
        }

        .button-wrapper button:not(:first-child){
            margin-top: 5px;
        }
    }
</style>

